@import "../assets/vars";
@import "../assets/components";

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0;
}

