# Packages and publishes the lib using semantic-release to the github packages repo

name: Publish

on: workflow_dispatch 

jobs:
  publish:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://npm.pkg.github.com/
      - run: npm ci
      - run: npm test
      - run: npm run build.docs
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.PACKAGES_TOKEN }}
          NPM_TOKEN: ${{ secrets.PACKAGES_TOKEN }}
